<html>

 <head>
  <meta charset="UTF-8" />
    <title>Bookers</title>
    <link rel="stylesheet" href="homes.scss" />
 </head>

 <body>
 <main>
 <h1 class="title">ようこそ！bookersへ</h1>

 <h3 class="text">Bookers では、さまざまな書籍に関するあなたの意見や
 印象を共有し交換することができます
 </h3>

 <a href="/books">start</a>
 </main>
 </body>

</html>